* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #b61e92, #065361, #ac0d72, #490f7f);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    height: 100vh;
}

h3 {
    text-align: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(12, 37, 35);
    border: 0;
    height: auto;
    font-weight: 10px;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

h3:hover {
    transform: scale(1.1);
}

span {
    color: #fff;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(46, 151, 167);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    color: black;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 300px rgb(0, 0, 0);
}

#display {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}